@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sixtyfour+Convergence&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head-font {
  font-family: 'Sixtyfour Convergence', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #e5e7eb; */
}
/* Custom scrollbar for light and dark mode */
html {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 transparent; /* For Firefox */
}
/* Custom Scrollbar Class */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

/* Hover effect for thumb */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

/* Light mode colors */
:root {
  --scrollbar-track: #f0f0f0;
  --scrollbar-thumb: #a0a0a0;
  --scrollbar-thumb-hover: #808080;
}

/* Dark mode colors */
:root.dark {
  --scrollbar-track: #2d2d2d;
  --scrollbar-thumb: #606060;
  --scrollbar-thumb-hover: #404040;
}
